h1 {  
    text-align: center;
    color: blue;    
    text-decoration: underline;
    font-size: 3em;
}

h2{
    text-align: center;
}

body {
    background-color: rgb(246, 171, 223);
}

img {
    display: block;
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: auto;
    border-radius: 25px;
    border: 5px dashed blue;
}

h1 {
    font-family: 'caveat', cursive;
}

li {
    text-shadow: 2px 2px 5px blue;
}

h3 {
    text-align: center;
}

div.gallery img{
    display: inline-block;
    width: 250px;
    height: 250px;
    margin: 10px;
}